<app-search-bar (searchChanged)="search($event)"></app-search-bar>

<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let doctor of displayedDoctors; let lastOne = last">
        <img [src]="doctor.cheminImage" style="width:40px; height:40px; padding-right: 15px;"/>
        {{doctor.firstName}} {{doctor.lastName}}
        <button (click)="delete(doctor.id)" style="margin: 15px;" type="button">Supprimer</button>
        <mat-divider *ngIf="!lastOne"></mat-divider>
    </mat-list-item>
    
</mat-list>

<mat-paginator  [length]="paginatorInfo.length"
                [pageIndex]="paginatorInfo.pageIndex"
                [pageSize]="paginatorInfo.pageSize" 
                [pageSizeOptions]="[5, 10]"
                (page)="pageChange($event)"></mat-paginator>
