
<app-search-bar (searchChanged)="getMedicines(paginator.pageIndex, paginator.pageSize, $event)"></app-search-bar>

<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let medicine of medicines; let lastOne = last">
        <img [src]="medicine.image" style="width:40px; height:40px; padding-right: 15px;" alt="" />
        {{medicine.name}} {{medicine.description}} {{medicine.price}}
        <button mat-icon-button (click)="delete(medicine.id)" style="position: absolute;right: 10px;" type="button">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-divider *ngIf="!lastOne" style="height: 1px;"></mat-divider>
    </mat-list-item>
    
</mat-list>

<mat-paginator #paginator="matPaginator" 
                [length]="paginator.length"
                [pageIndex]="paginator.pageIndex"
                [pageSize]="paginator.pageSize" 
                [pageSizeOptions]="[5, 10]"
                (page)="pageChange($event)"></mat-paginator>
